<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <%- include('partials/header') %> 
    <div class="container">
        <main>
            <h1>Pricing: Subscription Fees</h1>
            <table class="fees-table">
                <thead>
                    <tr>
                        <th>Fee Type</th>
                        <th>Instructor Fee</th>
                        <th>Learner Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <% fees.forEach(fee=> { %>
                        <tr>
                            <td><%= fee.type%></td>
                            <td><%= fee.instructorFee %></td>
                            <td><%= fee.learnerFee %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </div>        
    <%- include('partials/footer') %>
</body>

</html>
